<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LiveCharts" version="0.9.7" targetFramework="net472" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net472" />
  <package id="Microsoft.SDK.Expression.Blend" version="1.0.0" targetFramework="net472" />
  <package id="NLog" version="4.5.11" targetFramework="net472" />
</packages>