<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">  
  <?define ProductCode = "*"?>
  <?define UpgradeCode = "f5614cd8-aa70-4bc4-948b-208b34e16a6d"?>
  <?define ProductVersion = "0.9.0.0"?>
  <Product Id="$(var.ProductCode)" Name="Second Monitor" Language="1033" Version="$(var.ProductVersion)" Manufacturer="Matus Celko" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated"  />
    
    <Media Id="1" Cabinet="myapplication.cab" EmbedCab="yes" />
    <WixVariable Id="WixUILicenseRtf" Value="..\Artifacts\eula.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="..\Artifacts\banner.bmp" />

    <Upgrade Id='$(var.UpgradeCode)'>
      <UpgradeVersion Minimum='$(var.ProductVersion)'
                      IncludeMinimum='no'
                      OnlyDetect='yes'
                      Property='NEWPRODUCTFOUND' />
      <UpgradeVersion Minimum='0.1.0.0'
                      IncludeMinimum='yes'
                      Maximum='$(var.ProductVersion)'
                      IncludeMaximum='no'
                      Property='UPGRADEFOUND' />
    </Upgrade>


    <InstallExecuteSequence>
      <Custom Action='PreventDowngrading'
              After='FindRelatedProducts'>NEWPRODUCTFOUND</Custom>
      <RemoveExistingProducts Before="InstallInitialize" />
    </InstallExecuteSequence>

    <InstallUISequence>
      <Custom Action='PreventDowngrading'
              After='FindRelatedProducts'>NEWPRODUCTFOUND</Custom>
    </InstallUISequence>

    <CustomAction Id='PreventDowngrading'
                  Error='Newer version already installed' />
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONROOTDIRECTORY" Name="SecondMonitor"/>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="SecondMonitor" />
      </Directory>
    </Directory>

    <ComponentGroup Id="DeploymentGroup">
      <Component Id="myapplication.exe" Directory="APPLICATIONROOTDIRECTORY" Guid="c99525a0-e8e2-4e69-abf1-62c90e00201c">
        <File Id="myapplication.exe" KeyPath="yes" Source="..\Deployment\SecondMonitor.exe"/>
      </Component>
      <Component Id="cmp2868120D4264DC206F6C8D8B768491B7" Directory="APPLICATIONROOTDIRECTORY" Guid="f48adf3e-198d-4139-8721-a369ee3fbae5">
        <File Id="fil963D638FA2DE23743A69E9B68CEE6BB6" KeyPath="yes" Source="..\Deployment\AGauge.dll" />
      </Component>
      <Component Id="cmpA5CBA5AEBA67AF3740096B2C71AA5E30" Directory="APPLICATIONROOTDIRECTORY" Guid="b957aee4-905f-4894-8044-abce46beade4">
        <File Id="fil82C32F720D16C0F30EB4769A24E1D5A1" KeyPath="yes" Source="..\Deployment\DataModel.dll" />
      </Component>      
      <Component Id="cmp5F5AF01C9C167A061943BE1B97309D29" Directory="APPLICATIONROOTDIRECTORY" Guid="1ab8a162-b020-423f-969f-b93b861d6b95">
        <File Id="fil31680B1E52306E3391EF0F687D0EE629" KeyPath="yes" Source="..\Deployment\LCDLabel.dll" />
      </Component>
      <Component Id="cmp2BE70F4303347811DB70BB7ED092F617" Directory="APPLICATIONROOTDIRECTORY" Guid="d62baf83-45c5-46be-9c52-cf7d1ffd7bd6">
        <File Id="filFEF582307CF918B5B695B3D806851C75" KeyPath="yes" Source="..\Deployment\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="cmp7FE169C34BF8CF82969406F4CDAE97CF" Directory="APPLICATIONROOTDIRECTORY" Guid="959142a8-76b2-4268-96fe-cf52f9849d6a">
        <File Id="filE4363DC3C50A4EE374B8A4CD63FC5E75" KeyPath="yes" Source="..\Deployment\Newtonsoft.Json.xml" />
      </Component>
      <Component Id="cmp30C9FAC1385E8ED4A45BF3A6B19E9487" Directory="APPLICATIONROOTDIRECTORY" Guid="8b61f92c-37b1-4bee-b604-8b3da0135705">
        <File Id="filCCF2F64CAEA0D317721E9C63A20A2AC8" KeyPath="yes" Source="..\Deployment\NLog.config" />
      </Component>
      <Component Id="cmp2059A26546D649AB1050653DE68CB3F2" Directory="APPLICATIONROOTDIRECTORY" Guid="fcfe3761-e0a8-4715-9ba4-6cdf99d55aab">
        <File Id="fil354BA4A043162DBE3EAD15EDEC3036D8" KeyPath="yes" Source="..\Deployment\NLog.dll" />
      </Component>
      <Component Id="cmp2F3894E6168BFEA18FDC5714388BA8B8" Directory="APPLICATIONROOTDIRECTORY" Guid="b16fd17f-47eb-4c68-bddb-17d3a0ad1f77">
        <File Id="filC00832134C60B8D416FCA40AF4D8707D" KeyPath="yes" Source="..\Deployment\NLog.xml" />
      </Component>
      <Component Id="cmpA1FC9EC3991DE249BC5D4B6B86612376" Directory="APPLICATIONROOTDIRECTORY" Guid="f69f5713-a962-4b0e-96c2-f581ae822682">
        <File Id="fil0789929666268B2E394FC6E7182639D4" KeyPath="yes" Source="..\Deployment\PluginManager.dll" />
      </Component>      
      <Component Id="cmpBF276D04790C4EA6EAA0D4906CCF8782" Directory="APPLICATIONROOTDIRECTORY" Guid="4650b298-f5c8-41d3-9153-2f686ace5614">
        <File Id="filFD7A7C4C272CCAF2F7343286DC5B80B5" KeyPath="yes" Source="..\Deployment\SecondMonitor.exe.config" />
      </Component>      
      <Component Id="cmpB166FB7BF3EEA0A0A49BA3ADC2CFEC38" Directory="APPLICATIONROOTDIRECTORY" Guid="617732db-ef1d-4b8d-a32e-46a82016ea7b">
        <File Id="fil97545F8961B4711D742F55DF31B887D9" KeyPath="yes" Source="..\Deployment\WindowsControls.dll" />
      </Component>      
      <Component Id="cmp6BD68D5FC864E8490172D609DD696672" Directory="APPLICATIONROOTDIRECTORY" Guid="0add0428-7c55-4964-9e77-221211e4d628">
        <File Id="filB4677748F9834FAF0208AB97B0FBC456" KeyPath="yes" Source="..\Deployment\Xceed.Wpf.Toolkit.dll" />
      </Component>
      <Component Id="cmp44450B3EA8BEA00A3085509BFE17EA56" Directory="dirF09AC222E5E846B669ECCC3285BC0D7B" Guid="62ae6c28-044b-4029-a248-9b04ee5b0abf">
        <File Id="filCD83CF2407F23ADF1015E2352A06DD75" KeyPath="yes" Source="..\Deployment\Connectors\Pcars\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="cmpF5DE531AB87FA4DE3B82B15D798B7926" Directory="dirF09AC222E5E846B669ECCC3285BC0D7B" Guid="96e064a1-b1de-4202-bfdf-c3a001322bea">
        <File Id="filD58C919CFCC046F65D42DA428249C4FA" KeyPath="yes" Source="..\Deployment\Connectors\Pcars\Newtonsoft.Json.xml" />
      </Component>
      <Component Id="cmpCE0B948FB3A1396EC1B07D453C2D7BEF" Directory="dirF09AC222E5E846B669ECCC3285BC0D7B" Guid="6661867f-4544-42ae-94dd-7f5f87bcb5a9">
        <File Id="filC5770A7C732AB6E9B75256BDAC22C5D6" KeyPath="yes" Source="..\Deployment\Connectors\Pcars\PCarsConnector.dll" />
      </Component>      
      <Component Id="cmp6468344C577FF92207D7E17BD6BA1891" Directory="dir96FE386770022CE1F8679CB1A2875FE0" Guid="ef0424bb-cf3e-49a3-8f4b-148e7d64cbd5">
        <File Id="fil147E14539226BA6D83432417F3A46D33" KeyPath="yes" Source="..\Deployment\Connectors\R3E\data.json" />
      </Component>
      <Component Id="cmpCF7EECE1C586645C6E867268BC164D71" Directory="dir96FE386770022CE1F8679CB1A2875FE0" Guid="ffddfd6c-ad6d-4535-a1ac-00c1f462886c">
        <File Id="fil15B570AE3BFEA5BD2FBB067BC625D6E5" KeyPath="yes" Source="..\Deployment\Connectors\R3E\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="cmpA2731686BDC2DA2B3319FC16C6538A2C" Directory="dir96FE386770022CE1F8679CB1A2875FE0" Guid="cafb4f1e-0c61-40db-8420-fcf2bd5f7735">
        <File Id="fil3A985C48435C593F20BEF189185E08BD" KeyPath="yes" Source="..\Deployment\Connectors\R3E\Newtonsoft.Json.xml" />
      </Component>
      <Component Id="cmp1455472C77F0F8A00F5331F0387A95E3" Directory="dir96FE386770022CE1F8679CB1A2875FE0" Guid="8e45e5a1-24e5-4484-bbe7-02ef9da7255c">
        <File Id="fil79143611C2CADB725A9F374B99FD6957" KeyPath="yes" Source="..\Deployment\Connectors\R3E\R3EConnector.dll" />
      </Component>      
      <Component Id="cmpF8AE75AC5E1EAD7BF39AD3DEC2F20714" Directory="dir663302E9CFD7647C1B14AA38991E5CF3" Guid="102a5bc6-92ed-45f9-a838-a23d0f9db45f">
        <File Id="filF957E844FB90879D04640393AB02A97B" KeyPath="yes" Source="..\Deployment\Disabled\AGauge.dll" />
      </Component>
      <Component Id="cmpCAAF8FBA88A8287AEE4A15DD052DA199" Directory="dir663302E9CFD7647C1B14AA38991E5CF3" Guid="5a8c01e0-6f9a-4d81-a154-7f77692198bc">
        <File Id="fil0891E376E592752A5933C15D545746DF" KeyPath="yes" Source="..\Deployment\Disabled\SecondMonitor.dll" />
      </Component>
      <Component Id="cmpFD59FCBEFBD18D608B98D91E08875FA7" Directory="dir663302E9CFD7647C1B14AA38991E5CF3" Guid="4bc78621-4867-4cbb-99b1-faa4fdb5d76c">
        <File Id="fil472B7D4FCB98122E58DE8160C1811C8F" KeyPath="yes" Source="..\Deployment\Disabled\SecondMonitor.dll.config" />
      </Component>      
      <Component Id="cmp0D63D3874720241B51B7BBF3A4190E62" Directory="dir23D60FD22D95374E6F8B798C0D1A009B" Guid="65aee27f-cd89-4c3b-8ce1-b9e49e8871da">
        <File Id="filC5739C76B912710700AA88AC8C075019" KeyPath="yes" Source="..\Deployment\plugins\Timing.dll" />
      </Component>      
    </ComponentGroup>

    <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
      <Directory Id="dir10609BC54973A60FEA796FF193DD15AB" Name="Connectors" />
    </DirectoryRef>

    <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
      <Directory Id="dir23D60FD22D95374E6F8B798C0D1A009B" Name="plugins" />
    </DirectoryRef>

    <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
      <Directory Id="dir663302E9CFD7647C1B14AA38991E5CF3" Name="Disabled" />
    </DirectoryRef>

    <DirectoryRef Id="dir10609BC54973A60FEA796FF193DD15AB">
      <Directory Id="dir96FE386770022CE1F8679CB1A2875FE0" Name="R3E" />
    </DirectoryRef>


    <DirectoryRef Id="dir10609BC54973A60FEA796FF193DD15AB">
      <Directory Id="dirF09AC222E5E846B669ECCC3285BC0D7B" Name="Pcars" />
    </DirectoryRef>



    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id ="ApplicationShortcut" Guid="beae9dc1-2f51-4ee9-bb5a-d2aee07c80b6">
        <Shortcut Id="SecondMonitorShortcut" Target="[#myapplication.exe]" Directory="ApplicationProgramsFolder" Name="Second Monitor" WorkingDirectory='APPLICATIONROOTDIRECTORY' Icon="SecondMonitor.exe" Show="normal">
          <Icon Id="SecondMonitor.exe" SourceFile="..\Deployment\SecondMonitor.exe" />
        </Shortcut>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\SecondMonitor" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    
    <Feature Id="ProductFeature" Title="Installation" Level="1">
      <ComponentGroupRef Id="DeploymentGroup" />
      <!--<ComponentRef Id="StartMenuDirectory"/>-->
      <ComponentRef Id="ApplicationShortcut"/>
    </Feature>
    
    <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONROOTDIRECTORY" />
    <UIRef Id="WixUI_InstallDir" />
    <Property Id="MSIUSEREALADMINDETECTION" Value="1" />


  </Product>
</Wix>