<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-->Change Product Code to increase version  -->
  <?define ProductCode = "c8aafe70-628e-47e3-890a-df2b7f587535"?>
  <?define UpgradeCode = "f5614cd8-aa70-4bc4-948b-208b34e16a6d"?>
  <?define ProductVersion = "4.0.1.0"?>
  <?define FirstVersion="0.0.0.1"?>
  <Product Id="$(var.ProductCode)" Name="Second Monitor" Language="1033" Version="$(var.ProductVersion)" Manufacturer="Matus Celko" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated"  />

    <Media Id="1" Cabinet="myapplication.cab" EmbedCab="yes" />
    <WixVariable Id="WixUILicenseRtf" Value="..\Artifacts\eula.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="..\Artifacts\banner.bmp" />

    <MajorUpgrade AllowDowngrades="yes"/>

    <!--<Upgrade Id='$(var.UpgradeCode)'>
      <UpgradeVersion Minimum='$(var.ProductVersion)'
                      IncludeMinimum='no'
                      OnlyDetect='yes'
                      Property='NEWPRODUCTFOUND' />
      <UpgradeVersion Minimum='0.1.0.0'
                      IncludeMinimum='yes'
                      Maximum="99.0.0.0"
                      IncludeMaximum='no'
                      Property='UPGRADEFOUND' />
    </Upgrade>-->

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONROOTDIRECTORY" Name="SecondMonitor"/>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="SecondMonitor" />
      </Directory>
    </Directory>

    <ComponentGroup Id="DeploymentGroup">
      <Component Id="myapplication.exe" Directory="APPLICATIONROOTDIRECTORY" Guid="43f6b34c-606f-4b28-bbf6-64305d81b9cf">
        <File Id="filemyapplication.exe" KeyPath="yes" Source="..\Deployment\SecondMonitor.exe"/>
      </Component>
      <Component Id="telemetry.exe" Directory="APPLICATIONROOTDIRECTORY" Guid="c99525a0-e8e2-4e69-abf1-62c90e00201c">
        <File Id="filetelemetry.exe" KeyPath="yes" Source="..\Deployment\TelemetryViewer.exe"/>
      </Component>

      <Component Id="ManagePlugins.exe" Directory="APPLICATIONROOTDIRECTORY" Guid="63834967-0b2f-4b81-8e6b-8058810e3b83">
        <File Id="filemanageplugins.exe" KeyPath="yes" Source="..\Deployment\ManagePlugins.exe" />
      </Component>

      <Component Id="cmpde99100c6ede24f95a5283a6739b8fa5d" Directory="APPLICATIONROOTDIRECTORY" Guid="d6f08738-df3d-4658-bf3c-0ace1f81dc72">
        <File Id="file99100c6ede24f95a5283a6739b8fa5d" KeyPath="yes" Source="..\Deployment\TelemetryApplication.dll" />
      </Component>
      <Component Id="cmp48159482d9184f21bd7f1baf7075f250" Directory="APPLICATIONROOTDIRECTORY" Guid="a76fc66e-9705-4f06-8e34-31e07e835a45">
        <File Id="fil48159482d9184f21bd7f1baf7075f250" KeyPath="yes" Source="..\Deployment\TelemetryApplication.dll.config"/>
      </Component>
      <Component Id="cmp4dcf83bb26c94ced918a7e2aabc3eeea" Directory="APPLICATIONROOTDIRECTORY" Guid="9a843cdc-74ff-4432-83b5-69360c346dec">
        <File Id="fil4dcf83bb26c94ced918a7e2aabc3eeea" KeyPath="yes" Source="..\Deployment\TelemetryManagement.dll" />
      </Component>
      <Component Id="cmpf534e533fd2a4d93b2ec8c9e4b77cd05" Directory="APPLICATIONROOTDIRECTORY" Guid="4502c316-b8c9-4eab-8e4e-f92ccfc9f0dc">
        <File Id="filf534e533fd2a4d93b2ec8c9e4b77cd05" KeyPath="yes" Source="..\Deployment\TelemetryPresentation.dll" />
      </Component>
      <Component Id="cmp1039f1e130ee424f82d73b8cf20a3929" Directory="APPLICATIONROOTDIRECTORY" Guid="dff9487e-775a-4e6e-81fb-72aada40ac57">
        <File Id="fil1039f1e130ee424f82d73b8cf20a3929" KeyPath="yes" Source="..\Deployment\TelemetryPresentation.dll.config"/>
      </Component>
      <Component Id="cmpd263741c1e7924a5597d067825115ea25" Directory="APPLICATIONROOTDIRECTORY" Guid="aaab03a2-e7d2-4661-b0b3-a874bee35bf5">
        <File Id="fild263741c1e7924a5597d067825115ea25" KeyPath="yes" Source="..\Deployment\TelemetryViewer.exe.config" />
      </Component>

      <Component Id="cmpCCAAE88E799770EF8AE745BFDB5EF53A" Directory="APPLICATIONROOTDIRECTORY" Guid="628a61a3-403a-4209-86f6-95e0a96ad607">
        <File Id="filF5F7C7F4EE3D85C679BF6D913B0DD645" KeyPath="yes" Source="..\Deployment\PluginsConfiguration.Application.dll" />
      </Component>
      <Component Id="cmp901ABE9FA2964096078944E0AD929FEC" Directory="APPLICATIONROOTDIRECTORY" Guid="a47eb8bf-8322-4597-aae2-9a7dfdff7142">
        <File Id="filB5D3F8D9DD54871A220F168F81EC8364" KeyPath="yes" Source="..\Deployment\PluginsConfiguration.Common.dll" />
      </Component>
      <Component Id="cmpABC8AF0FABA3464B8D250C2E833844BE" Directory="APPLICATIONROOTDIRECTORY" Guid="385aa472-ea84-43ec-98d0-514402f69163">
        <File Id="fil4E7659DB656D309BFE01F34491FFC7AC" KeyPath="yes" Source="..\Deployment\Remote.Common.dll" />
      </Component>
      <Component Id="cmp8AE216B3A94A464A5F568AF356BF902C" Directory="APPLICATIONROOTDIRECTORY" Guid="675e0c11-47d8-414d-aec2-6daea35cb076">
        <File Id="filE077C6560D55FB7CE6BE7B79A2B8D25C" KeyPath="yes" Source="..\Deployment\ManagePlugins.exe.config" />
      </Component>

      <Component Id="cmpeb4eb708fe424a11b9bb66f9b0a4573a" Directory="APPLICATIONROOTDIRECTORY" Guid="05e02a53-e796-4eae-baf2-c9e4117d82ae">
        <File Id="fileb4eb708fe424a11b9bb66f9b0a4573a" KeyPath="yes" Source="..\Deployment\AutoUpdater.NET.dll" />
      </Component>

      <Component Id="cmpd70d492504ff4882bf50cece32ff71e1" Directory="APPLICATIONROOTDIRECTORY" Guid="5ffab2df-2e7b-4f74-b687-bab0e1abdd4f">
        <File Id="fil5677d5f3cd364264b015461f75f2bfc9" KeyPath="yes" Source="..\Deployment\OxyPlot.dll" />
      </Component>
      <Component Id="cmp938f868bbc044759a0d76f0b30fd8367" Directory="APPLICATIONROOTDIRECTORY" Guid="768b1642-c186-4fdc-b24e-7dca9689072f">
        <File Id="fil938f868bbc044759a0d76f0b30fd8367" KeyPath="yes" Source="..\Deployment\OxyPlot.Wpf.dll"/>
      </Component>
      <Component Id="cmpd8653f8714a4c469d8d85902a8a9c0c33" Directory="APPLICATIONROOTDIRECTORY" Guid="eee12913-927c-4ac5-a24d-49d203278acb">
        <File Id="fild8653f8714a4c469d8d85902a8a9c0c33" KeyPath="yes" Source="..\Deployment\OxyPlot.Wpf.xml" />
      </Component>
      <Component Id="cmpccf131b1862d4b79b8983eddb103d6a4" Directory="APPLICATIONROOTDIRECTORY" Guid="565178c9-56af-4672-a47c-9fc3f5d0abcf">
        <File Id="filccf131b1862d4b79b8983eddb103d6a4" KeyPath="yes" Source="..\Deployment\Ninject.dll" />
      </Component>
      <Component Id="cmp418d5520865849bcb60a903b5811e170" Directory="APPLICATIONROOTDIRECTORY" Guid="05edd217-567f-4af7-ac0b-8572c52224bd">
        <File Id="fil418d5520865849bcb60a903b5811e170" KeyPath="yes" Source="..\Deployment\Ninject.xml" />
      </Component>
      <Component Id="cmp463080ad0d6743a38a6470f14bddcb4f" Directory="APPLICATIONROOTDIRECTORY" Guid="dbf2db07-c28a-400f-8c60-998a52b60606">
        <File Id="fil5463080ad0d6743a38a6470f14bddcb4f" KeyPath="yes" Source="..\Deployment\Ninject.Extensions.NamedScope.dll" />
      </Component>
      <Component Id="cmpd66e3e740bc04fdab0108d06a7cda02b" Directory="APPLICATIONROOTDIRECTORY" Guid="304a0673-3f90-49a8-bfab-ebefd6e36fb7">
        <File Id="fild66e3e740bc04fdab0108d06a7cda02b" KeyPath="yes" Source="..\Deployment\Ninject.Extensions.NamedScope.xml" />
      </Component>
      <Component Id="cmpA5CBA5AEBA67AF3740096B2C71AA5E30" Directory="APPLICATIONROOTDIRECTORY" Guid="b957aee4-905f-4894-8044-abce46beade4">
        <File Id="fil82C32F720D16C0F30EB4769A24E1D5A1" KeyPath="yes" Source="..\Deployment\DataModel.dll" />
      </Component>
      <Component Id="cmp2BE70F4303347811DB70BB7ED092F617" Directory="APPLICATIONROOTDIRECTORY" Guid="d62baf83-45c5-46be-9c52-cf7d1ffd7bd6">
        <File Id="filFEF582307CF918B5B695B3D806851C75" KeyPath="yes" Source="..\Deployment\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="cmp53bf961ea84945248b0a7eb8dc273476" Directory="APPLICATIONROOTDIRECTORY" Guid="9944e952-fb23-44ab-853c-2e65c260e3df">
        <File Id="fil53bf961ea84945248b0a7eb8dc273476" KeyPath="yes" Source="..\Deployment\GongSolutions.WPF.DragDrop.dll" />
      </Component>
      <Component Id="cmp7d3c4ce7775948d2a4dea004035862d8" Directory="APPLICATIONROOTDIRECTORY" Guid="ec96eeb8-0031-48a4-8d72-a3b00b9b9345">
        <File Id="fil7d3c4ce7775948d2a4dea004035862d8" KeyPath="yes" Source="..\Deployment\GongSolutions.WPF.DragDrop.xml" />
      </Component>
      <Component Id="cmp7FE169C34BF8CF82969406F4CDAE97CF" Directory="APPLICATIONROOTDIRECTORY" Guid="959142a8-76b2-4268-96fe-cf52f9849d6a">
        <File Id="filE4363DC3C50A4EE374B8A4CD63FC5E75" KeyPath="yes" Source="..\Deployment\Newtonsoft.Json.xml" />
      </Component>
      <Component Id="cmp30C9FAC1385E8ED4A45BF3A6B19E9487" Directory="APPLICATIONROOTDIRECTORY" Guid="8b61f92c-37b1-4bee-b604-8b3da0135705">
        <File Id="filCCF2F64CAEA0D317721E9C63A20A2AC8" KeyPath="yes" Source="..\Deployment\NLog.config" />
      </Component>
      <Component Id="cmp2059A26546D649AB1050653DE68CB3F2" Directory="APPLICATIONROOTDIRECTORY" Guid="fcfe3761-e0a8-4715-9ba4-6cdf99d55aab">
        <File Id="fil354BA4A043162DBE3EAD15EDEC3036D8" KeyPath="yes" Source="..\Deployment\NLog.dll" />
      </Component>
      <Component Id="cmp2F3894E6168BFEA18FDC5714388BA8B8" Directory="APPLICATIONROOTDIRECTORY" Guid="b16fd17f-47eb-4c68-bddb-17d3a0ad1f77">
        <File Id="filC00832134C60B8D416FCA40AF4D8707D" KeyPath="yes" Source="..\Deployment\NLog.xml" />
      </Component>
      <Component Id="cmpA1FC9EC3991DE249BC5D4B6B86612376" Directory="APPLICATIONROOTDIRECTORY" Guid="f69f5713-a962-4b0e-96c2-f581ae822682">
        <File Id="fil0789929666268B2E394FC6E7182639D4" KeyPath="yes" Source="..\Deployment\PluginManager.dll" />
      </Component>
      <Component Id="cmpBF276D04790C4EA6EAA0D4906CCF8782" Directory="APPLICATIONROOTDIRECTORY" Guid="4650b298-f5c8-41d3-9153-2f686ace5614">
        <File Id="filFD7A7C4C272CCAF2F7343286DC5B80B5" KeyPath="yes" Source="..\Deployment\SecondMonitor.exe.config" />
      </Component>
      <Component Id="cmpB166FB7BF3EEA0A0A49BA3ADC2CFEC38" Directory="APPLICATIONROOTDIRECTORY" Guid="617732db-ef1d-4b8d-a32e-46a82016ea7b">
        <File Id="fil97545F8961B4711D742F55DF31B887D9" KeyPath="yes" Source="..\Deployment\WindowsControls.dll" />
      </Component>
      <Component Id="cmp6BD68D5FC864E8490172D609DD696672" Directory="APPLICATIONROOTDIRECTORY" Guid="0add0428-7c55-4964-9e77-221211e4d628">
        <File Id="filB4677748F9834FAF0208AB97B0FBC456" KeyPath="yes" Source="..\Deployment\Xceed.Wpf.Toolkit.dll" />
      </Component>
      <Component Id="cmp470147a68b2348fe9bc849378834b911" Directory="APPLICATIONROOTDIRECTORY" Guid="189afdfc-4dbf-4a04-a2b8-f013b0866926">
        <File Id="fil39b779fc6b9c4a2088557bee57d37aa7" KeyPath="yes" Source="..\Deployment\SecondMonitor.ViewModels.dll" />
      </Component>
      <Component Id="cmp399fbd789a3e4a529fb2423f5ef75714" Directory="APPLICATIONROOTDIRECTORY" Guid="0cc39aa4-9197-4806-9b41-4f857a62ff5a">
        <File Id="fil318150619963408b90e5b3d68b13586b" KeyPath="yes" Source="..\Deployment\LiveCharts.Wpf.dll" />
      </Component>
      <Component Id="cf532cddba34649d481c5f606485bcc5c" Directory="APPLICATIONROOTDIRECTORY" Guid="6c9a47d3-0d5d-45d0-9590-ce40db04877b">
        <File Id="f1bc6c4fb211540aaa7551b65163f5ed6" KeyPath="yes" Source="..\Deployment\LiveCharts.dll" />
      </Component>
      <Component Id="cccdcee6bb3f34684a08720041ca81a83" Directory="APPLICATIONROOTDIRECTORY" Guid="9d74c2f8-3b48-487c-ae56-be023f7b4413">
        <File Id="f0a7e112de15546b59b09951d63e1b214" KeyPath="yes" Source="..\Deployment\LiveCharts.Wpf.xml" />
      </Component>
      <Component Id="f1853a54996cc4b51aabf75b3e13bdc8d" Directory="APPLICATIONROOTDIRECTORY" Guid="60b184bc-b551-46aa-ba13-0130739826dd">
        <File Id="fbf87d8eff4164edbba246da72aee44da" KeyPath="yes" Source="..\Deployment\System.Windows.Interactivity.dll" />
      </Component>
      <Component Id="c74f8cc9acda845fca611e26870f7cb1e" Directory="APPLICATIONROOTDIRECTORY" Guid="82229824-c62a-415b-a1e5-89d1d96310c7">
        <File Id="f128a6330a922457597bdbfa636a51b2" KeyPath="yes" Source="..\Deployment\SimdataManagement.dll" />
      </Component>
      <Component Id="cc8c1c81d226648f1a7eb0ddb8959910d" Directory="APPLICATIONROOTDIRECTORY" Guid="fca38ce3-1f6f-4e29-8233-c1933b064878">
        <File Id="fc8c1c81d226648f1a7eb0ddb8959910d" KeyPath="yes" Source="..\Deployment\Contracts.dll" />
      </Component>
      <Component Id="cmp44450B3EA8BEA00A3085509BFE17EA56" Directory="dirF09AC222E5E846B669ECCC3285BC0D7B" Guid="62ae6c28-044b-4029-a248-9b04ee5b0abf">
        <File Id="filCD83CF2407F23ADF1015E2352A06DD75" KeyPath="yes" Source="..\Deployment\Connectors\Pcars\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="cmpF5DE531AB87FA4DE3B82B15D798B7926" Directory="dirF09AC222E5E846B669ECCC3285BC0D7B" Guid="96e064a1-b1de-4202-bfdf-c3a001322bea">
        <File Id="filD58C919CFCC046F65D42DA428249C4FA" KeyPath="yes" Source="..\Deployment\Connectors\Pcars\Newtonsoft.Json.xml" />
      </Component>
      <Component Id="cmpCE0B948FB3A1396EC1B07D453C2D7BEF" Directory="dirF09AC222E5E846B669ECCC3285BC0D7B" Guid="6661867f-4544-42ae-94dd-7f5f87bcb5a9">
        <File Id="filC5770A7C732AB6E9B75256BDAC22C5D6" KeyPath="yes" Source="..\Deployment\Connectors\Pcars\PCarsConnector.dll" />
      </Component>
      <Component Id="cmp6468344C577FF92207D7E17BD6BA1891" Directory="dir96FE386770022CE1F8679CB1A2875FE0" Guid="ef0424bb-cf3e-49a3-8f4b-148e7d64cbd5">
        <File Id="fil147E14539226BA6D83432417F3A46D33" KeyPath="yes" Source="..\Deployment\Connectors\R3E\data.json" />
      </Component>
      <Component Id="cmpCF7EECE1C586645C6E867268BC164D71" Directory="dir96FE386770022CE1F8679CB1A2875FE0" Guid="ffddfd6c-ad6d-4535-a1ac-00c1f462886c">
        <File Id="fil15B570AE3BFEA5BD2FBB067BC625D6E5" KeyPath="yes" Source="..\Deployment\Connectors\R3E\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="cmpA2731686BDC2DA2B3319FC16C6538A2C" Directory="dir96FE386770022CE1F8679CB1A2875FE0" Guid="cafb4f1e-0c61-40db-8420-fcf2bd5f7735">
        <File Id="fil3A985C48435C593F20BEF189185E08BD" KeyPath="yes" Source="..\Deployment\Connectors\R3E\Newtonsoft.Json.xml" />
      </Component>
      <Component Id="cmp1455472C77F0F8A00F5331F0387A95E3" Directory="dir96FE386770022CE1F8679CB1A2875FE0" Guid="8e45e5a1-24e5-4484-bbe7-02ef9da7255c">
        <File Id="fil79143611C2CADB725A9F374B99FD6957" KeyPath="yes" Source="..\Deployment\Connectors\R3E\R3EConnector.dll" />
      </Component>
      <Component Id="cmp0D63D3874720241B51B7BBF3A4190E62" Directory="dir23D60FD22D95374E6F8B798C0D1A009B" Guid="65aee27f-cd89-4c3b-8ce1-b9e49e8871da">
        <File Id="filC5739C76B912710700AA88AC8C075019" KeyPath="yes" Source="..\Deployment\plugins\Timing.Application.dll" />
      </Component>
      <Component Id="cmp2F067665D606D44C0110C848F1A4C5E3" Directory="dir23D60FD22D95374E6F8B798C0D1A009B" Guid="3d86c444-93a0-4512-98cb-253787cd2048">
        <File Id="fil0D82207ADFB2905835CDB48585F0CB5A" KeyPath="yes" Source="..\Deployment\plugins\LiteNetLib.dll" />
      </Component>
      <Component Id="cmp3C85F299837B17217AA2C26EFA5CBDD8" Directory="dir23D60FD22D95374E6F8B798C0D1A009B" Guid="525da765-807a-44db-b076-7e757a4332a2">
        <File Id="filB861039B1D00C672AD42F33B82D79A2F" KeyPath="yes" Source="..\Deployment\plugins\LiteNetLib.xml" />
      </Component>
      <Component Id="cmpEE11F1BABBB66738F0BA8D9F67178FEF" Directory="dir23D60FD22D95374E6F8B798C0D1A009B" Guid="bab6055b-a0c6-4348-a307-8ca1636bf52a">
        <File Id="fil05D0C118B45A21424917CEA803146000" KeyPath="yes" Source="..\Deployment\plugins\Remote.Application.dll" />
      </Component>

      <Component Id="cmp2e7a7ec67268446686ff3c3bd786ea48" Directory="dir23D60FD22D95374E6F8B798C0D1A009B" Guid="4434e81f-f61f-4feb-a87d-e4db3b5c196b">
        <File Id="fil6ec4cdff09084e3f8c0d7edd99f3882f" KeyPath="yes" Source="..\Deployment\plugins\XslxExport.dll" />
      </Component>
      <Component Id="cmp90fec4b795c14a3f8c9c940584d3ab14" Directory="dir23D60FD22D95374E6F8B798C0D1A009B" Guid="90fec4b7-95c1-4a3f-8c9c-940584d3ab14">
        <File Id="filcmp90fec4b795c14a3f8c9c940584d3ab14" KeyPath="yes" Source="..\Deployment\plugins\XslxExport.dll.config" />
      </Component>
      <Component Id="cmp0253b072d27a4258bb3fc69c13343256" Directory="dir23D60FD22D95374E6F8B798C0D1A009B" Guid="0253b072-d27a-4258-bb3f-c69c13343256">
        <File Id="fil0253b072d27a4258bb3fc69c13343256" KeyPath="yes" Source="..\Deployment\plugins\EPPlus.dll" />
      </Component>
      <Component Id="cmp71da85606d444721a9cb25c24ca27a34" Directory="dir23D60FD22D95374E6F8B798C0D1A009B" Guid="71da8560-6d44-4721-a9cb-25c24ca27a34">
        <File Id="fil71da85606d444721a9cb25c24ca27a34" KeyPath="yes" Source="..\Deployment\plugins\EPPlus.xml" />
      </Component>
      <Component Id="cmpad1bc2985c384aceb265ebec29d36042" Directory="dir23D60FD22D95374E6F8B798C0D1A009B" Guid="ad1bc298-5c38-4ace-b265-ebec29d36042">
        <File Id="filad1bc2985c384aceb265ebec29d36042" KeyPath="yes" Source="..\Deployment\plugins\ICSharpCode.SharpZipLib.dll" />
      </Component>
      <Component Id="cmp7f75611e33f94a10b57f428694c45415" Directory="dir0b6902e3f28f41e92329d0f61641a602" Guid="7f75611e-33f9-4a10-b57f-428694c45415">
        <File Id="file7f75611e33f94a10b57f428694c45415" KeyPath="yes" Source="..\Deployment\Connectors\RFactor\RFactorConnector.dll" />
      </Component>
      <Component Id="cmp295d14efef0b4430a05d3219519a0631" Directory="dir0b6902e3f28f41e92329d0f61641a602" Guid="874d6641-7cf3-4f07-b97a-5bccaf28ecad">
        <File Id="file57e7d8e568754cd3aebdc4d684407c8f" KeyPath="yes" Source="..\Deployment\Connectors\RFactor\rFactorSharedMemoryMap.dll" />
      </Component>
      <Component Id="cmp6d7ce167f46d402bb458a007d9114824" Directory="dir3360ab9bfb6540e093d7c5f9d14d27ca" Guid="3cef7d19-003d-4796-886b-3ac5ce21f115">
        <File Id="file2dcd02ca4ed7488890e52f190d85ea4f" KeyPath="yes" Source="..\Deployment\Connectors\RFactor2\RF2Connector.dll" />
      </Component>
      <Component Id="cmpd3199132b45547b0809e8efeb213c521" Directory="dir3360ab9bfb6540e093d7c5f9d14d27ca" Guid="18cbde8c-6b34-4b85-94e4-6183839f81c4">
        <File Id="file8c12ce9ad1504877a625afe87cf98120" KeyPath="yes" Source="..\Deployment\Connectors\RFactor2\rFactor2SharedMemoryMapPlugin64.dll" />
      </Component>
      <Component Id="cmp71be5f609c8f4adfac3a83a07ec503bc" Directory="dirb781d9a060914609a4d5b9fe2684ed60" Guid="03ea5b28-888d-47a7-9535-b1b502fedd17">
        <File Id="file37c8b28b15b046739c09ac706aa2bf76" KeyPath="yes" Source="..\Deployment\Connectors\AssettoCorsa\AssettoCorsaConnector.dll" />
      </Component>
      <Component Id="cmpddc8dc92ea764d90a2d889ed2ade1c85" Directory="dirb781d9a060914609a4d5b9fe2684ed60" Guid="c63df33e-8346-4b76-97e5-778c5be5ed4a">
        <File Id="filee33380c39d5c410980a5a0a53171d214" KeyPath="yes" Source="..\Deployment\Connectors\AssettoCorsa\SecondMonitor.py" />
      </Component>
      <Component Id="cmpcbd241843a4b42039d487ecb57545183" Directory="dirb781d9a060914609a4d5b9fe2684ed60" Guid="a5a81156-5f1b-4bb6-a377-6dcea70c6e1f">
        <File Id="file03639ea9ff044766835841526dce7577" KeyPath="yes" Source="..\Deployment\Connectors\AssettoCorsa\smshared_mem.py" />
      </Component>
      <Component Id="cmp6263c4e9fe334bb19cfb5bf8fdcee9f8" Directory="dir700ab31efeba489c8f7985492bbbf109" Guid="6cf3d908-1661-488c-b588-310751fa306c">
        <File Id="filedbb78ec26f024183855fc84a5409cf02" KeyPath="yes" Source="..\Deployment\Connectors\PCars2\PCars2Connector.dll" />
      </Component>


      <Component Id="cmpEB26E633F9CC905530555F13A03F7D26" Directory="dir77863955766C658BE4B8389A0ECFC377" Guid="70bddfb6-351e-49dd-996a-56bef2028bfc">
        <File Id="fil3F3715D7810F6834327810A12F68CA67" KeyPath="yes" Source="..\Deployment\Connectors\Remote\LiteNetLib.dll" />
      </Component>
      <Component Id="cmpA7C7422321F91B11FC27FE75CE2F88F9" Directory="dir77863955766C658BE4B8389A0ECFC377" Guid="f8fb1b71-d1d3-4b0f-b600-0dfebdf8a782">
        <File Id="filA6027CFF6CB122CF9A621CCC617DD8FC" KeyPath="yes" Source="..\Deployment\Connectors\Remote\LiteNetLib.xml" />
      </Component>
      <Component Id="cmp22EB3340F9263A09AA9DF8903EEE18CD" Directory="dir77863955766C658BE4B8389A0ECFC377" Guid="79572cb6-727b-4667-ab2e-2d39a2a00e0e">
        <File Id="fil007088D4365D571597ED82F99B5AE423" KeyPath="yes" Source="..\Deployment\Connectors\Remote\Remote.Connector.dll" />
      </Component>
    </ComponentGroup>

    <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
      <Directory Id="dir10609BC54973A60FEA796FF193DD15AB" Name="Connectors" />
    </DirectoryRef>

    <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
      <Directory Id="dir23D60FD22D95374E6F8B798C0D1A009B" Name="plugins" />
    </DirectoryRef>

    <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
      <Directory Id="dir663302E9CFD7647C1B14AA38991E5CF3" Name="Disabled" />
    </DirectoryRef>

    <DirectoryRef Id="dir10609BC54973A60FEA796FF193DD15AB">
      <Directory Id="dir96FE386770022CE1F8679CB1A2875FE0" Name="R3E" />
    </DirectoryRef>


    <DirectoryRef Id="dir10609BC54973A60FEA796FF193DD15AB">
      <Directory Id="dirF09AC222E5E846B669ECCC3285BC0D7B" Name="Pcars" />
    </DirectoryRef>

    <DirectoryRef Id="dir10609BC54973A60FEA796FF193DD15AB">
      <Directory Id="dir0b6902e3f28f41e92329d0f61641a602" Name="RFactor" />
    </DirectoryRef>

    <DirectoryRef Id="dir10609BC54973A60FEA796FF193DD15AB">
      <Directory Id="dir3360ab9bfb6540e093d7c5f9d14d27ca" Name="RFactor2" />
    </DirectoryRef>

    <DirectoryRef Id="dir10609BC54973A60FEA796FF193DD15AB">
      <Directory Id="dirb781d9a060914609a4d5b9fe2684ed60" Name="AssettoCorsa" />
    </DirectoryRef>

    <DirectoryRef Id="dir10609BC54973A60FEA796FF193DD15AB">
      <Directory Id="dir700ab31efeba489c8f7985492bbbf109" Name="PCars2" />
    </DirectoryRef>

    <DirectoryRef Id="dir10609BC54973A60FEA796FF193DD15AB">
      <Directory Id="dir77863955766C658BE4B8389A0ECFC377" Name="Remote" />
    </DirectoryRef>



    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id ="ApplicationShortcut" Guid="beae9dc1-2f51-4ee9-bb5a-d2aee07c80b6">
        <Shortcut Id="SecondMonitorShortcut" Target="[!filemyapplication.exe]" Directory="ApplicationProgramsFolder" Name="Second Monitor" WorkingDirectory='APPLICATIONROOTDIRECTORY' Icon="SecondMonitor.exe" Show="normal">
          <Icon Id="SecondMonitor.exe" SourceFile="..\Deployment\SecondMonitor.exe" />
        </Shortcut>
        <Shortcut Id="TelemetryViewerShortCut" Target="[!filetelemetry.exe]" Directory="ApplicationProgramsFolder" Name="Telemetry Viewer" WorkingDirectory='APPLICATIONROOTDIRECTORY' Icon="TelemetryViewer.exe" Show="normal">
          <Icon Id="TelemetryViewer.exe" SourceFile="..\Deployment\TelemetryViewer.exe" />
        </Shortcut>
        <Shortcut Id="ManagePluginsShortCut" Target="[!filemanageplugins.exe]" Directory="ApplicationProgramsFolder" Name="Manage Plugins" WorkingDirectory='APPLICATIONROOTDIRECTORY' Icon="ManagePlugins.exe" Show="normal">
          <Icon Id="ManagePlugins.exe" SourceFile="..\Deployment\ManagePlugins.exe" />
        </Shortcut>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\SecondMonitor" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <Feature Id="ProductFeature" Title="Installation" Level="1">
      <ComponentGroupRef Id="DeploymentGroup" />
      <!--<ComponentRef Id="StartMenuDirectory"/>-->
      <ComponentRef Id="ApplicationShortcut"/>
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONROOTDIRECTORY" />
    <UIRef Id="WixUI_InstallDir" />
    <Property Id="MSIUSEREALADMINDETECTION" Value="1" />


  </Product>
</Wix>
